#root {
  font-family: Lato, Arial, sans-serif, -apple-system;
  font-style: normal;
  color: #000;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
